* {
   margin: 0;
   border: 0;
   padding: 0;
   list-style: none;
   box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
   max-width: 1400px;
   width: 100%;
   max-height: 3200px;
   height: 100%;
   background-color: #ECE9CB;
}

.container1 {
   max-width: 1400px;
   width: 100%;
   max-height: 3200px;
   height: 100%;
   background-color: #ECE9CB;

}
body {
   background-image: url(../imagenes/background.jpg);
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
}
/*estilos INDEX*/


.item-slide img {
    width: 100%;
}

header {
   width: 95%;
   height: 10%;
   background-color: #FFFFFF;
   margin: auto;

}
.logo img {
  max-width: 55%;
  width: 100%;
}

nav {
   clear: both;
   width: 95%;
   max-height: 8%;
   background-color: #FFFFFF;
   margin: auto;
   color: #000000;
   border-top: #EF7F3F solid 1px;
   border-bottom: #EF7F3F solid 1px;
   font-size: 1.2em;
   font-weight: bolder;
}

nav ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
}

nav ul li {
   display: inline-block;
   max-width: 12rem;
   width: 100%;
   text-align: center;
   line-height: 45px;
   background-color: #ffffff;
   color: #000000;
   text-decoration: none;
}


nav ul li:hover {
   display: inline-block;

   text-align: center;
   line-height: 45px;
   background-color: #EF7F3F;
   color: #000000;
   text-decoration: none;
}

nav ul li a {
    
    
    color: #000000;
    text-decoration: none;
    font-size: 25px;
}
nav ul li a:hover {
 
    color: #FFFFFF;
    text-decoration: none;
}
.submenu {
   position: absolute;
   background-color: transparent;
   visibility: hidden;
   opacity: 0;
   max-width: 12rem;
   width: 100%;
   color: #000000;
 

}
.submenu li a {
   display: block;
   color: #ffffff;
   background-color: #EF7F3F;
}
.submenu li a:hover {
   color: #000000;
   background-color: #ECE9CB;
   transition: background-color 2s;
}
.menu li:hover .submenu {
   visibility: visible;
   opacity: 1;
   transition: opacity 3s;
}



.caja {
    width: 100%;
    
}



.video{
    margin-left: 20px;
    font-size: 43px;
    color: #ef7f3f;
    
}
.video1{
    font-size: 20px;

}

.video2{
    font-size: 25px;
    color: #ef7f3f;
}

footer {
   width: 95%;
   height: 3rem;
   background-color: #282923;
   color: white;
   margin: auto;
   text-align: center;
   padding-top: 20px;
}

.cajaredes{
    margin-top: 37rem;
    min-height: 20rem;
    height: 100%;
    width: 100%;
}

.cajaredes h1{
    color: black;
    margin-top: 15px;

}
.cajaredes  h3{
    color: black;
}


.redes, .sistpago, .polpago {
   max-width: 350px;
   width: 100%;
   height: 45%;
   text-align: justify;
   margin: 5px 0px 0px 40px;
   float: left;
   text-align: center;

}

.redes table{
    margin:auto;
    margin-top: 20px;
}

.sistpago img{
    margin:auto;
    margin-top: 20px;
}
.polpago p{
    padding: 10px;
    text-align: justify;
    font-size: 10px;
}

/*estilos boton*/
button {
   float: right;
   max-width: 120px;
   width: 100%;
   max-height: 42px;
   height: 100%;
   border-radius: 10%;
   text-align: center;
   line-height: 42px;
   margin: 0px 100px 40px 0px;
   font-weight: bolder;
}


.boton1 {
   margin-top: 20px;
   margin-right: 20px;
   background-color: #ECE9CB;
   border: 1px solid #DD5D26;
   box-shadow: 1px 1px 4px black;
   font-size: 1em;
}
.boton1 a {
   color: #000000;
   text-decoration: none;
}
.boton1:hover{
   color: #FFFFFF;
   background-color: #EF7F3F;
   text-decoration: none;
   border-radius: 5px;
   width: 120px;
   height: 42px;
   border: 1px solid black;
}


.boton2 {
   margin-top: 20px;
   margin-right: 20px;
   background: #EF7F3F;
   color: #FFFFFF;
   border: 1px solid black;   
   box-shadow: 1px 1px 4px black;
   font-size: 1em;

}
.boton2 a {
   color: #FFFFFF;
   text-decoration: none;
}
.boton2:hover{
   color: #000000;
   background-color: #ECE9CB;
   text-decoration: none;
   border-radius: 5px;
   width: 120px;
   height: 42px;
   border: 1px solid #DD5D26;
}
/*ESTILOS CONTACTO*/
#principalcontacto {
   width: 95%;
   min-height: 50rem;
   height: 100%;
   background-image: url(../imagenes/agua.png);
   margin: auto;
   text-align: center;
   
}


.quienes1, .mision1 {
   max-width: 33rem;
   width: 100%;
   height: auto;
   text-align: justify;
   margin: 5px 0px 0px 35px;
   float: left;

}

.cajacontacto {
   width: 24em;
   float: left;
   height: 20em;
   text-align: left;
   margin-left: 2em;
   margin-top: 2em;
   grid: grid;
   grid-template-columns: column;
}

.cajacontacto .contacto {
   text-align: left;
   color: black;
   font-size: 1em;
    grid: grid;
   grid-template-columns: column;
}
.cajacontacto i {
   font-size: 1em;
}


.contacto3 {
   max-width: 400px;
   width: 100%;
   min-height: 400px;
   height: 100%;
   float: left;
   text-align: left;
   padding-left: 50px;
}



.contacto2 .titulo1 {
   font-size: 2rem;
   text-align: left;
   padding: 30px;
   color: black;
}



.contacto2 hr {
   width: 83%;
   border: 1px solid #C6C6C6;
   margin-left: 30px;
}

.mapa{
   max-width: 250px;
   width: 100%;
   max-height: 250px;
   height: 100%;
}
.formulario {
   width: 37rem;
   height: 43rem;
   border: 3px solid #EF7F3F;
   margin: 1em;
   box-shadow: 1px 3px 3px black;
   border-radius: 10px;
   position: absolute;
   background-color: #FFFFFF;
   padding-left: 30px;


}

.formulario p {
   margin: 2em;
   font-weight: bold;
   text-align: left;
   font-size: 1rem;

}
.formulario label {
   display: inline-block;
   width: 11em;
   font-weight: bold;
   justify-content: left;
   font-size: 0.8em;
   padding-left: 10px;


}
.formulario input{
   vertical-align: center;
   padding: 5px;
   border-radius: 5px;
   font-size: 1em;
   border: 1px solid #000000;
   box-shadow: 0.5px 1px 5px black;
   margin: 8px 0;
   resize: none;
}

#nombres, #asunto {
   max-width: 370px;
   width: 100%;
   max-height: 20px;
   height: 100%;


}

#correo, #telefono1 {
   max-width: 370px;
   width: 100%;
   max-height: 20px;
   height: 100%;

}

#mensaje {
   max-width: 380px;
   width: 100%;
   height: 150px;
   top: 100%;   
}
.formulario input:focus, textarea:focus {
   box-shadow: 3px 3px 5px #EF7F3F;
   outline: none;
}
.formulario input[type=submit] {
   width: 140px;
   margin: 2% 0 0 37%;
   padding: 10px;
   color: #ffffff;
   background-color: #EF7F3F;
   font-weight: bold;
   border-radius: 5px;

}
.formulario input[type=submit]:hover {
   width: 140px;
   margin: 2% 0 0 37%;
   padding: 10px;
   color: #000000;
   background-color: #ECE9CB;
   border: 1px solid #EF7F3F;
   font-weight: bold;
   border-radius: 5px;

}
/*ESTILOS INICIO*/
.formulario1 {
    border: 3px solid #EF7F3F;
    box-shadow: 1px 3px 3px black;
    border-radius: 30px;
    text-align: center;
    background-image: url("../imagenes/images3.jpg");
    background-size: cover;
    max-width: 470px;
    width: 100%;
    min-height: 350px;
    height: 100%;
    padding: 15px;

}
.formulario1 h1 {
   font-family: 'Roboto', sans-serif;
   margin-top: 30px;
}
.formulario1 input {
   max-width: 270px;
   width: 100%;
   min-height: 25px;
   height: auto;
   vertical-align: middle;
   padding-left: 5px;
   border-radius: 5px;
   font-size: 16px;
   border: 1px solid #000000;
   margin: 8px 0;
   resize: none;
}
#usuario2 {
   background-image: url("../imagenes/usuario.png");
}
#password2 {
   background-image: url("../imagenes/padlock2.png");
}
#password2, #usuario2 {
   background-repeat: no-repeat;
   background-position: 0.5rem center;
   padding: 2px 0px 2px 40px;
   max-width: 270px;
   width: 100%;
   box-shadow: 1px 1px 5px black;
}
.formulario1 input {
   box-shadow: 1px 1px 5px #000000;
   outline: none;
}
.formulario1 input:focus {
   box-shadow: 3px 3px 5px #EF7F3F;
   outline: none;
}
input:invalid {
   box-shadow: 0 0 5px 1px #EF7F3F;
}
input:focus:invalid {
   color: red;
}
.formulario1 input[type=submit] {
   width: 140px;
   margin: 10px;
   padding: 10px;
   color: #ffffff;
   background-color: #EF7F3F;
   font-weight: bold;
   margin-bottom: 40px;
   margin-left: 25px;
   border-radius: 5px;
}
.formulario1 input[type=submit]:hover {
   width: 140px;
   margin: 10px;
   padding: 10px;
   color: #000000;
   background-color: #ECE9CB;
   border: 1px solid #EF7F3F;
   font-weight: bold;
   margin-bottom: 40px;
   margin-left: 25px;
   border-radius: 5px;
}
.formulario1 input[type=radio], input[type=checkbox] {
   width: 15px;
   box-shadow: none;
}
#nombre {
   background-image: url("../imagenes/usuario2.png");
}
#telefono {
   background-image: url("../imagenes/llamada.png");
}
#email {
   background-image: url("../imagenes/correo.png");
}
#usuario3 {
   background-image: url("../imagenes/usuario.png");
}
#password1 {
   background-image: url("../imagenes/padlock2.png");
}
#password1, #usuario3, #nombre, #telefono, #email {
   background-repeat: no-repeat;
   background-position: 0.5rem center;
   padding: 2px 0px 2px 40px;
   max-width: 270px;
   width: 100%;
}
.fondo_transparente {
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.226);
   position: absolute;
   display: none;
   margin-top: 20%;
   margin-left: 50%;
   
}
.modal {
   border: 3px solid #EF7F3F;
   box-shadow: 1px 3px 3px black;
   padding: 20px;
   max-width: 355px;
   width: 100%;
   height: 550px;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 30px;
   background: rgba(0, 0, 0, 0.226);
}



@media (min-width: 320px) {
   .modal,.modal1 {
       margin-top: 30rem;
       width: 300px;
       height: auto;
       position: absolute;
   }
}
   @media (min-width: 320px) {
    .modal1 {
       margin: 20rem 0 0 4rem;
       border: 3px solid #EF7F3F;
       box-shadow: 1px 3px 3px black;
       padding: 20px;
       border-radius: 30px;
   }
}
@media (min-width: 800px) {
   .modal {
       margin-top: 20rem;
       width: 320px;
       height: auto;
       position: absolute;
   }
}
@media (min-width: 800px) {
   .modal1 {
       margin: 15% 0 0 30%;
   }
}
@media (min-width: 1024px) {
   .modal, .modal1 {
       margin-top: 18rem;
       width: 320px;
       height: auto;
       position: absolute;
   }
}
@media (min-width: 1024px) {
   .modal1 {
       margin-top: 4rem;
   }
}


.modal1 {
   border: 3px solid #EF7F3F;
   box-shadow: 1px 3px 3px black;
   border-radius: 10px;
   padding: 1rem;
   width: 20rem;
   height: 490px;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 30px;
   background: rgba(0, 0, 0, 0.226);

}
.modal_cerrar, .modal_cerrar1 {
   position: absolute;
   right: 10px;
   color: black;
   top: 10px;
   width: 40px;
   height: 40px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 30px;
}
.fondo_transparente1 {
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.226);
   position: absolute;
   display: none;
   margin-top: 35%;
   margin-left: 50%;

}
.feedback {
   max-width: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.5);
   padding: 5px;
   color: red;
   font-size: 12px;
   visibility: hidden;
   opacity: 0;
   text-align: center;
}
.success {
   border: 2px solid lime;
}
.error {
   border: 2px solid red;
}
/*ESTILOS NOSOTROS*/
#principalcontacto h1 {
   padding-top: 65px;
   text-align: center;
   color: #DD5D26;
}
.quienes h2, .mision h2, .vision h2 {
   text-align: center;
   color: #000000;
}
.quienes, .mision, .vision {
  
   max-width: 30%;
   width: 100%;
   min-height: 35rem;
   height: 100%;
   text-align: justify;
   margin: 35px 0px 0px 25px;
   border-bottom: 4px solid #EF7F3F;
   border-top: 4px solid #EF7F3F;
   padding: 20px;
   float: left;
}
.imgquienes {
   display: flex;
   max-width: 100%;
   margin: auto;
   border-radius: 10px;
}
/*PAGINA CONTRASEÑA*/
.formulario2 {
   text-align: center;
   background-image: url("../imagenes/images3.jpg");
   background-size: cover;
   max-width: 20rem;
   width: 100%;
   border: 3px solid #EF7F3F;
   box-shadow: 1px 3px 3px black;
   padding: 20px;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 30px;
   top: 80%;
}

.formulario2 p{
    text-align: left;
}


.formulario2 input {
   vertical-align: center;
   padding: 5px;
   border-radius: 5px;
   font-size: 1em;
   border: 1px solid #000000;
   box-shadow: 0.5px 1px 5px black;
   margin: 8px 0;
   resize: none;
}

.formulario2 input[type=submit] {
   width: 140px;
   padding: 10px;
   color: #ffffff;
   background-color: #EF7F3F;
   font-weight: bold;
   margin-left: 25px;
   border-radius: 5px;
}
.formulario2 input[type=submit]:hover {
   width: 140px;
   padding: 10px;
   color: #000000;
   background-color: #ECE9CB;
   border: 1px solid #EF7F3F;
   font-weight: bold;
   margin-left: 25px;
   border-radius: 5px;
}




    /*ESTILOS PAGINAS KHADIJA--------------------------------------
    ---------------------------------------------------------------
    -------------------------------------------*/
    /*ESTILOS FORMULARIO PROFESOR*/

    
    .formulariosregistro {
       max-width: 43rem;
       width: 100%;
       min-height: 55rem; 
       height: 100%; 
       border: 3px solid #EF7F3F;
       margin: 0 0 0 21%;
       box-shadow: 1px 3px 3px black;
       border-radius: 10px;
       padding-left: 30px;
       text-align: left;

   }
   .contacto2 .titulo1 {
       font-size: 2rem;
       text-align: center;
       padding-top: 5%;
       color: #EF7F3F;

   }
   .formulariosregistro .contacto2 hr {
       width: 500px;
       border: 1px solid #C6C6C6;
       margin-left: 30px;
   }


   .formulariosregistro  p {
       margin: 2em;
       font-weight: bold;
       text-align: left;
       font-size: 1rem;

   }
   .formulariosregistro label {
    display: inline-block;
   width: 15em;
   font-weight: bold;
   justify-content: left;
   font-size: 0.8em;
   padding-left: 10px;


   }
   .formulariosregistro input, select{

   border-radius: 5px;
   font-size: 1em;
   border: 1px solid #000000;
   box-shadow: 0.5px 1px 5px black;
   margin: 8px 0;
   resize: none;

 

   }
   .formulariosregistro #nombreprof, #duracioncurso, #curso {
       max-width: 380px;
       width: 100%;
       max-height: 20px;
       height: 100%;
   }

   .formulariosregistro #correoprof, #telefonoprof{
    max-width: 380px;
    width: 100%;
    max-height: 20px;
    height: 100%;

}

.formulariosregistro #perfilprof, #descripcurso {
   max-width: 380px;
   width: 100%;
   height: 100px;
   top: 100%;   
}
.formulariosregistro  input:focus, textarea:focus {
   box-shadow: 3px 3px 5px #EF7F3F;
   outline: none;
}
.formulariosregistro input[type=submit], input[type=reset] {
   width: 140px;
   margin: 15% 0 0 37%;
   padding: 10px;
   color: #ffffff;
   background-color: #EF7F3F;
   font-weight: bold;
   border-radius: 5px;
   border: 1px solid black;
}


.formulariosregistro  input[type=submit]:hover, input[type=reset]:hover {
   width: 140px;
   margin: 15% 0 0 37%;
   padding: 10px;
   color: #000000;
   background-color: #ECE9CB;
   border: 1px solid #EF7F3F;
   font-weight: bold;
   border-radius: 5px;

}

.formulariosregistro img{
    margin-left: 35%;
    margin-top: 5%;
}

.formulariosregistro p{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.formulariosregistro input[type=file]{
    font-size: 12px;
    max-width: 380px;
    width: 100%;
    max-height: 20px;
    height: 100%;
}
.formulariosregistro #tipoid, #numid,#telefonoalumno,#correoalumno{
   max-width: 380px;
   width: 100%;
   min-height: 20px;
   height: 100%;
   margin-right: 0;
}

.formulariosregistro #apellidoalumno,#nombrealumno,#direccionalumno{
   max-width: 380px;
   width: 100%;
   min-height: 28px;
   height: 100%;
}

.formulariosregistropago {
   max-width: 45rem;
   width: 100%;
   min-height: 45rem;
   height: 100%;
   border: 3px solid #EF7F3F;
   margin: 1% 0 0 25%;
   box-shadow: 1px 3px 3px black;
   border-radius: 10px;
   position: absolute;
   background-color: #FFFFFF;
   padding: 0 30px;
   text-align: left;

}
.formulariosregistropago .titulo1 {
   font-size: 2rem;
   text-align: center;
   padding: 5%;
   color: #EF7F3F;

}


.formulariosregistropago label {
   display: inline-block;
   width: 15em;
   font-weight: bold;
   justify-content: left;
   font-size: 0.8em;
   padding-left: 10px;

}

.formulariosregistropago input {   
   width: 150px;
   vertical-align: center;
   padding: 5px;
   border-radius: 5px;
   font-size: 1em;
   border: 1px solid #000000;
   box-shadow: 0.5px 1px 5px black;
   margin: 8px 0;
   resize: none;
}

.formulariosregistropago input:focus, textarea:focus {
   box-shadow: 3px 3px 5px #EF7F3F;
   outline: none;
}
.formulariosregistropago input[type=submit], input[type=reset] {
   width: 140px;
   margin: 2% 0 0 37%;
   padding: 10px;
   color: #ffffff;
   background-color: #EF7F3F;
   font-weight: bold;
   border-radius: 5px;
   border: 1px solid black;
}


.formulariosregistropago img{
   max-width: 400px;
   width: 100%;
}




.formulariosregistropago input[type=submit]:hover, input[type=reset]:hover {
   width: 140px;
   margin: 2% 0 0 37%;
   padding: 10px;
   color: #000000;
   background-color: #ECE9CB;
   border: 1px solid #EF7F3F;
   font-weight: bold;
   border-radius: 5px;
}


.formulariosregistropago input[type=file]{
    font-size: 12px;
    max-width: 380px;
    width: 100%;
    max-height: 20px;
    height: 100%;
}



.formulariosregistropago #nombrepropietario, #tipoid{
    max-width: 380px;
    width: 100%;
    min-height: 20px;
    height: 100%;
    margin-right: 0;
}


.formulariosregistropago #diaexp{

   max-width: 390px;
    width: 100%;
    min-height: 20px;
    height: 100%;
}


.formulariosregistropago #numtarjeta, #numidpropietario, #tipoid {
   max-width: 390px;
   width: 100%;
   min-height: 20px;
   height: 100%;

}
.formulariosregistropago img{
    margin-left: 15%;
    margin-top: 5%;
}

#condiciones{
    margin-left: 35%;
}
#condiciones p{
    width: 250px;
    

}


.col{
    display: inline-block;
    margin-left: 17%;
  
}


.col .boton1 {
   margin-top: 20px;
   margin-right: 20px;
   background: #ECE9CB;
   border: 1px solid #DD5D26;
   max-width: 120px;
   width: 100%;
   min-height: 42px;
   height: 100%;
}
.col .boton1 a {
   color: #000000;
   text-decoration: none;
   max-width: 120px;
   width: 100%;
   min-height: 42px;
   height: 100%;
}

.col .boton1 a:hover {
   color: #FFFFFF;
   background-color: #EF7F3F;
   text-decoration: none;
   display: block;
   margin: auto;
   border-radius: 5px;
   max-width: 120px;
   width: 100%;
   min-height: 42px;
   height: 100%;
}


.col .boton2{
    display: inline-block;
    margin-left: 2%;
    background-color: #ECE9CB;
    color: #000000;
    border-radius: 5px;
  max-width: 120px;
   width: 100%;
   min-height: 42px;
   height: 100%;
   border: 1px solid #DD5D26;
}

.col.boton2 a {
   color: #FFFFFF;
   text-decoration: none;
}

.col .boton2:hover{
    margin-left: 2%;
   color: #ffffff;
   background-color: #EF7F3F;
   text-decoration: none;
   border-radius: 5px;
   max-width: 120px;
   width: 100%;
   min-height: 42px;
   height: 100%;
   border: 1px solid black;
}






h1, h2, h3, h4, h5 {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   color: #ef7f3f;
   padding-top: 20px;
}

#principalcurso1 {
    width: 95%;
    background-image: url(../imagenes/agua.png);
    margin: auto;
    text-align: center;
    min-height: 2200px;
    height: 100%;
}

#principalcurso2 {
   width: 95%;
   background-image: url(../imagenes/agua.png);
   margin: auto;
   text-align: center;
   min-height: 2200px;
   height: 100%;
}


#principalcontacto3 {
   width: 95%;
   background-image: url(../imagenes/agua.png);
   margin: auto;
   text-align: center;
   min-height: 1500px;
   height: 100%;
}

#principalcontacto1 {
   width: 95%;
   background-image: url(../imagenes/agua.png);
   margin: auto;
   text-align: center;
   min-height: 1000px;
   height: 100%;
}


#principalcontacto2 {
   width: 95%;
   background-image: url(../imagenes/agua.png);
   margin: auto;
   text-align: center;
   min-height: 1300px;
   height: 100%;
}



.cajap {
    max-width: 47%;
    width: 100%;
    min-height: 200px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    margin: 5px;
    padding: 12px;
    display: inline-block;

}


.cajapimag {
   max-width: 45%;
   width: 100%;
   float: left;
   min-height: 200px;
   height: 100%;
   text-align: center;
   background-color: #ffffff;
   grid: grid;
   grid-template-columns: column;
}

.cajapimag img{
    width:100%;
    border-radius: 4px;
}

.cajap .video, .cajap .video1,.cajap .video2{
      text-align: center;
      line-height: 25px;
   }

.card {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 0;
   word-wrap: break-word;
   background-color: #fff;
   background-clip: border-box;
   border: 1px solid rgba(0, 0, 0, 0.125);
   border-radius: 0.25rem;
   margin-left: 30%;
   box-shadow: 3px 3px 4px 4px grey;
   padding: 15px;
   text-align: justify;
}
.card .boton1 a:hover{
   color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   color: #ef7f3f;
   padding-top: 20px;
   text-align: center;
}
.cajap p {
   text-align: justify;
   margin: 35px;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
article {
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   text-align: center;
}
.imagcajap {
   width: 640px;
   height: 280px;
}
  .imagcajaplogo {
        max-width: 540px;
        width: 100%;
        min-height: 280px;
        height: 100%;
        margin-top: 100px;
    }
article.cajapredes {
    width: 30%;
    float: right;
    min-height: 200px;
    height: 50%;
    margin-right: 450px;
    margin-top: 50px;
}

.cajapredes p {
    text-align: justify;
    margin-left: 45px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}



table {
   margin-left: 120px;
}
.imagcarru {
   width: 1400px;
   height: 515px;
}
.carousel-item {
   position: relative;
   display: none;
   float: left;
   width: 60%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transition: transform 0.3s ease-in-out;
}
iframe {
   margin-top: 50px;
   padding: 25px;
}
figure.redes {
   float: left;
   margin-left: 10px;
}
.cajapredes p {
   text-align: justify;
   margin-left: 45px;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.cajapDETA {
   max-width: 47%;
   width: 100%;
   float: left;
   min-height: 600px;
   height: 100%;
   text-align: center;
   background-color: #FFFFFF; 
   margin-left: 22px;
   grid-template-columns: column;
   padding: 5px;
}



.imagcajapdeta {
   width: 630px;
   height: 500px;
   margin-top: 50px;
   margin-left: none;
}

.cajapDETA p {
   text-align: justify;
   margin-left: 15px;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.cajapDETA img{
    width: 100%;
}

.cajapDETA1 {
   max-width: 47%;
   width: 100%;
   float: right;
   min-height: 50%;
   text-align: center;
   background-color: #FFFFFF; 
   margin-right: 22px;
   grid-template-columns: column;
   padding: 5px;
   text-align: justify;


}
.cajapDETA1 img{
    margin: 6% 0 0 10%;
}

.cajapDETA1 p{
    padding: 15px;
}

.imagcajappeluque {
   width: 540px;
   height: 280px;
}
.cajappelu {
   max-width: 49%;
   width: 100%;
   float: left;
   min-height: 510px;
   height: 100%;
   text-align: center;
   background-color: #FFFFFF;
}
.imagcajappelu {
   max-width: 540px;
}
.imagcajappeluque {
   max-width: 510px;
}
.cajappelu p {
   text-align: justify;
   margin-left: 15px;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
#hojavida {
   background-color:  #FFFFFF;
   max-width: 800px;
   width: 100%;
   box-shadow: 4px 4px 5px #000000;
   margin-top: 70px;

   margin:auto;
   padding: 10px;
   border: 2px solid #EF7F3F;
   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
   text-align: center;
}
#hojavida label {
   width: 40%;
   display: inline-block;
   margin-bottom: 20px;
}
#hojavida input[type=text], input[type=number], input[type=email], select, textarea {
   width: 45%;
   vertical-align: justify;
   padding: 5px 0px;
   border-radius: 5px;
   font-size: 16px;
   border: 1px solid #000000;
   margin: 8px 40px 0 0;
   resize: none;


}
#hojavida input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, select:focus, textarea:focus {
   box-shadow: 3px 3px 5px #000000;
   outline: none;
}
#hojavida input[type=submit] {
   width: 140px;
   margin: 10px;
   padding: 10px;
   background: linear-grad #EF7F3F;
   border: 4px solid #EF7F3F;
   color: #EF7F3F;
   font-weight: bold;
}
#hojavida input[type=submit]:hover {
   background: linear-gradient #EF7F3F;
   box-shadow: 0 0 20px #EF7F3F;
}
#hojavida input[type=reset] {
   width: 140px;
   margin: 10px;
   padding: 10px;
   background: linear-grad #EF7F3F;
   border: 4px solid #EF7F3F;
   color: #EF7F3F;
   font-weight: bold;
}
#hojavida input[type=reset]:hover {
   background: linear-gradient #EF7F3F;
   box-shadow: 0 0 20px #EF7F3F;
}

#hojavida hr {
   width: 770px;
   border: 1px solid #C6C6C6;
   margin-bottom: 60px;
   margin-left: 10px;

}


   #hojavida1 {
       max-width: 900px;
        width: 100%;
        min-height: 400px;
        height: 100%;
        background-color: #FFFFFF;
        box-shadow: 4px 4px 5px #000000;
        border: 2px solid #EF7F3F;
        font-family: 'Lato', sans-serif;
        text-align: center;
        margin-top: 500px;
        margin-left: 150px;
    }

   .hojavida2{
      max-width: 900px;
       width: 100%;
       min-height: 200px;
       height: 100%;
       background-color: #FFFFFF;
       box-shadow: 4px 4px 5px #000000;
       border: 2px solid #EF7F3F;
       font-family: 'Lato', sans-serif;
       text-align: center;
       margin-top: 200px;
       margin-left: 350px;
   }

.fotoperfil {
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;

}

.tarea {
   text-align: justify;
   max-width: 100%;
   float: right;
   margin: auto;
   margin-top: 20px;
   padding: 15px;
   box-shadow: 1px 1px 3px black;

}


/*ESTILOS CARRUSEL----------------------------------------------
-----------------------------------------------------------------*/


.container-all{
    position: relative;
    max-width: 1200px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin: auto;
    box-shadow: 1px 3px 3px black;

}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}


.mensaje{
      width: 80%;
      align-self: auto;
}

/*MEDIAQUERYS GENERAL*********************************************/

/*MEDIAQUERY 1024*********************************************/
@media (max-width: 1024px) {
   iframe{
      width: 100%;
   }

   .cajaredes{
     height: 100%;
     width: 60rem;  
  }
  .sistpago, .polpago, .redes{
   max-width: 27%;
   width: 100%;
}
.sistpago img{
   max-width: 270px;
   width: 100%;
}

.cajapimag .card{
   max-width: 85%;
   width: 100%;
}
.formulario{           
  margin:auto;
  margin-left: 20px;
  width: 45%;
  height: 48rem;
}

.formulario2{           
  margin:auto;
  margin-top: 15%;
}

.formulariosregistropago{           
  width:100%;  
  height: 40rem;
  margin:auto;
  margin-left: 13%;
  
}

.formulariosregistro{           
  width:100%;  
  height: auto;
  margin:auto;
  margin-left: 13%;
}

#principalcontacto {           
  max-width: 95%;
}
#principalcontacto2{
   height: auto;
}

.quienes1, .mision1 {           
  width:40%;   
}

.quienes, .mision, .vision {           
 max-width: 30%;
 width: 100%;
 height: auto;   

}
.cajapDETA {
   max-width: 45%;
   width: 100%;
}

}

/*MEDIAQUERY 800px*********************************************/


@media (max-width: 800px) {
   
  .container {           
     background-color: #FFFFFF;
  }
  .cajapimag {
   width: 70%;           
   margin-left: 7%;
   margin-top: 5%;
   grid-auto-flow: row;
}
.cajap{
   margin-right: 10%;
   max-width: 550px;
}
.cajap .video, .cajap .video1,.cajap .video2{
   text-align: center;
   line-height: 25px;
}
nav ul li {
   display: inline-block;
   max-width: 10rem;
   width: 100%;
   height: 7vh;
   text-align: center;  
   color: #000000;
   text-decoration: none;
   margin: none;
   font-size: 1em;
}

nav ul li a{
   font-size: 1em;
}

.submenu {
 max-width: 10rem;
 width: 100%;
 background-color: #EF7F3F;
 position: static;
 display: none;
}

.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;
   transition: opacity 3s;
   display: block;
}

iframe {
 width: 100%;
}
.videoindex{
   width: 500px;
}
.cajaredes{
  height: 100%;
  width: 100%;
  margin-top: 75rem;
}
.cajaredes h1{
   width: 100%;
}
.caja{
   padding: 15px;
}
.sistpago, .polpago, .redes{
   width: 27%;
}
.sistpago img{
   width: 220px;
}

article.cajapredes {

 position: absolute;
 margin: 900px 0 0 15%;
 grid-auto-flow: row;
}

article.cajapredes .imagcajaplogo {
 position: absolute;
 margin: 500px 0 0 13%;
 grid-auto-flow: row;
}
article.cajap {           
  max-width: 650px;
  width: 100%;   
  grid-auto-flow: row;
}
.quienes1, .mision1 {           
  width:100%;   
}
.cajacontacto  {           
  width:100%;   
  grid-auto-flow: row;
}

.datos {         
   margin-top: 30px;
   width: 20rem;
   height: 15rem;
}
.datos h1 {           
   width:20rem   ;
   height: 1rem;
   bottom: 2rem; 
}
.formulario { 
   width: 80%;            
   margin:auto;
   margin-top: 130px; 
}
.formulariosregistropago {           
  width:100%;
  min-height: 40rem;  
  margin:auto;         
}
.principalcontacto h1  { 
   margin: auto;
}
.datos{
   min-height: 20px;
}
.quienes, .mision, .vision {           
 max-width: 650px;
 height: 480px;   
}
.formulariosregistro {           
  width:100%;
  height: auto;
}
.formulario2 {           
   margin:auto;
   margin-top: 30%;
}

#hojavida1 {
   width: 90%;
   height: 15px;   
   padding: 20px;
   margin-top: 85%;
   margin-left: 3%;
}
footer {
   width: 100%;
   position: absolute;
   margin: 200px 0 ;
}
footer .footformularios {
   width: 100%;
   position: absolute;
   margin: 80px 0 ;
}
footer.capinteria, footer.peluqueria{
 position: absolute;
 width: 100%;
 min-height: auto;
 grid-auto-flow: row;
}
footer.nosotros, footer.contacto {
   margin: 1200px 0;
}
.redes, .sistpago, .polpago{
   margin-left:25%;
}
footer.footindex {
 position: absolute;
 width: 100%;
 margin: 45rem 0 ;
 grid-auto-flow: row;
}
}

/*MEDIA QUERY 425********************************************/



@media (max-width: 425px) {

   iframe {
    max-width: 90%;
    width: 100%;
    margin: none;
    padding: none;
 }

.cajapimag {
  max-width: 22rem;
  width: 100%;
}
.card{

   width: 100%;
   margin-left: 5px;
}

.cajap{
   max-width: 90%;
}
.logo img {
 max-width: 100%;
}

.cajacontacto  {           
  width:100%;   
  grid-auto-flow: row;
  
}
.datos {           
   margin-top: 30px;
   width: 20rem;
   height: 15rem;
}
.datos h1 {           
  
   width:20rem   ;
   height: 1rem;
   top: 75rem; 
}
.mapa{
  width: 100%;
  right: 16%;
  position: absolute;

}
.formulario{           
  margin:auto;
  width: 85%;
  height: 53rem;
  padding: 20px;
  
}
.formulario input{
   width: 60%;
}

.formulariosregistropago{           
  width:80%;
  height: 750px;
  margin:auto;
}

.formulariosregistropago img{ 
   margin: auto;
}

.col{ 
   margin: 5% 15%;

}
#principalcontacto h1{           
  margin: auto;
}
.quienes, .mision, .vision {           
 max-width: 80%;
 height: 480px;   
}
.formulariosregistro{           
  width:80%;
  height: auto;
  margin-left: 2%;
  padding: 30px;   
}

.formulariosregistro input{           
  width:60%;
  height: 30rem;
  
}

.formulariosregistro #correoprof, #telefonoprof{
width: 100%;
}

.formulario2{           
   margin-top: 70%;   
   margin-right: 20px; 
}

.submenu {
   position: static;
   display: none;
}
.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;
   transition: opacity 3s;
   display: block;
}


.cajaredes {
   width: 100%;
   margin-left: 1px;
   justify-content: center;
   text-align: center;
   padding-right: 50%;

}
.cajaredes h3{
   width: 23rem;
}
.redes,.sistpago, .polpago{
   width: 100%;
}
.polpago p{
   width: 300px;
}

.cajapDETA {
   max-width: 85%;
   width: 100%;
}
.cajappelu{
   max-width:40rem;
}
#hojavida1 {
   width: 80%;
   height: 25rem;   
   padding: 40px;
   margin-top: 75rem;
   
}

footer {
   width: 100%;
   position: absolute;
   margin: 200px 0 ;
   height:auto;

   
}

footer .footformularios {
   width: 100%;
   position: absolute;
   margin: 100px 0 ;
   height:auto;
}
footer.capinteria, footer.peluqueria {
 position: absolute;
 width: 100%;
 min-height: auto;
 grid-auto-flow: row;
 height:auto;
}
footer .nosotros, footer.contacto {
   min-height: 90rem 0;
   height:auto;
}

footer.footindex {
 position: absolute;
 width: 100%;
 margin: 30rem 0 ;
 grid-auto-flow: row;
 height:auto;
}
}



/*MEDIA QUERY 320********************************************/

@media (max-width: 320px) {

   .cajapimag {      
     margin-left: 7%;
  }

nav .menu{
   margin-left: 7%;
}

nav ul li {
   max-width: 12rem;
   width: 100%;
    margin-left: 7%;
}

.submenu {
   max-width: 11.2rem;
   width: 100%;
   position: static;
   display: none;
}

.menu li:hover .submenu{
   visibility: visible;
   opacity: 1;
   transition: opacity 3s;
   display: block;
}

iframe {
 width: 20rem;
 margin: none;
 padding: none;
}
.videoindex{
   min-width: 240px;
}



.cajaredes {
   width: 100%;
   padding-right:90%;
}
.cajaredes h3{
   width: 23rem;
   
}

.polpago p{
   width: 250px;

}

.cajacontacto  {           
  width:100%;   
  grid-auto-flow: row;
}

.datos {           
   margin-top: 35px;
   width: 70%;
   height: 15rem;
}

.datos h1 {           
  
   width:20rem;
   height: 1rem;
   top: 70rem; 
}
.mapa{
   width: 100%;
   right: 4%;
   position: absolute;
}

.col{ 
   margin: auto;
}

.col .boton2{ 
   margin-left: 45px;
}



#principalcontacto h1{           
  margin: auto;

}

.formulario2{
   width: 85%;           
   margin-top: 85%; 
}



#hojavida1 {
   width: 80%;
   height: 35rem;   
   padding: 20px;
   margin-top: 85rem;
   
}





footer .footformularios {
   width: 100%;
   position: absolute;
   margin: 70px 0 ;
}
}



